In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from numpy import mean
import random
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

In [3]:
#read csv files

#financial data
financialsCSV = "Brett_Resources/finance_states.csv" 
finance_data = pd.read_csv(financialsCSV) 

#SAT scores 
SAT_CSV = "Brett_Resources/SAT_scores.csv" 
SAT_data = pd.read_csv(SAT_CSV) 

#grad rates 
grad_ratescsv = "Brett_Resources/grad_rates.csv" 
grad_rates = pd.read_csv(grad_ratescsv)

#crime rates
file='Resources - Christin/estimated_crimes.csv'
crime_rates = pd.read_csv(file)

In [4]:
finance_data[["TOTAL_EXPENDITURE"]].describe()

       TOTAL_EXPENDITURE
count       1.275000e+03
mean        9.206242e+06
std         1.199279e+07
min         4.816650e+05
25%         2.170404e+06
50%         5.242672e+06
75%         1.074420e+07
max         8.532013e+07

In [18]:
SAT_data = SAT_data.astype(str)

In [21]:
SAT_data[["Total"]].describe()

       Total
count     53
unique    49
top     1013
freq       2

In [28]:
grad_rates[["ALL_RATE"]].describe()

           ALL_RATE
count  95677.000000
mean      78.928755
std       18.432344
min        2.000000
25%       74.500000
50%       85.000000
75%       92.000000
max       98.000000

In [29]:
#cleaning the crime rate data
year_2015 = crime_rates['YEAR']==2015
data_2015 = crime_rates[year_2015]   
data_2015 



crime_percapita = ((data_2015['violent_crime'] + data_2015['burglary'] + data_2015["motor_vehicle_theft"] + data_2015["larceny"])
                   / data_2015['population']) * 100

state_percapita = pd.DataFrame({"STATE" : data_2015['STATE'],
                               "CRIME PER CAPITA" : crime_percapita}) 

state_percapita[["CRIME PER CAPITA"]].describe()

       CRIME PER CAPITA
count         52.000000
mean           2.917369
std            0.794626
min            1.567032
25%            2.322920
50%            2.972422
75%            3.362134
max            5.964107