In [1]:
#import my modules
import pandas as pd
import numpy as np

financialsCSV = "Brett_Resources/finance_states.csv" 
finance_data = pd.read_csv(financialsCSV)

In [5]:
finance_data

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885,304177,1659028,715680,2653798,1481703,735036,NaN,174053
1,1992_ALASKA,ALASKA,1992,NaN,1049591,106780,720711,222100,972488,498362,350902,NaN,37451
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079,297888,1369815,1590376,3401580,1435908,1007732,NaN,609114
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959,178571,958785,574603,1743022,964323,483488,NaN,145212
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025,2072470,16546514,7641041,27138832,14358922,8520926,NaN,2044688
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,2016_VIRGINIA,VIRGINIA,2016,1283493.0,16259274,1058146,6297587,8903541,16497520,8944614,5164699,643506.0,1161323
1271,2016_WASHINGTON,WASHINGTON,2016,1083973.0,14964364,1097684,9211201,4655479,15253296,7087365,4904575,577606.0,2204059
1272,2016_WEST_VIRGINIA,WEST_VIRGINIA,2016,276764.0,3391579,358068,1863062,1170449,3366566,1804235,1127255,236487.0,181392
1273,2016_WISCONSIN,WISCONSIN,2016,857736.0,11697466,782610,5986763,4928093,11787535,5760418,3691439,508013.0,1082849
1274,2016_WYOMING,WYOMING,2016,94511.0,2044669,123012,1175899,745758,2034229,921494,585700,53570.0,454302

In [7]:
#usuing iloc to fins the relavent information for 2015
finance_data.iloc[1175:1226,[1,2,8,9,10,11]]

,STATE,YEAR,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE
1175,ARIZONA,2015,7902600,3846357,2880184,478876.0
1176,ARKANSAS,2015,5350543,2620399,1772639,290396.0
1177,CALIFORNIA,2015,78365958,38951948,23501848,3754315.0
1178,COLORADO,2015,9557682,4578938,3170482,397263.0
1179,CONNECTICUT,2015,10542667,6006275,3233901,362941.0
1180,DELAWARE,2015,1975093,1072395,583951,122741.0
1181,DISTRICT_OF_COLUMBIA,2015,1360942,557345,379854,41841.0
1182,FLORIDA,2015,27277049,14931173,8186082,1816178.0
1183,GEORGIA,2015,18501103,10081483,5324072,996277.0
1184,HAWAII,2015,2521004,1377713,835930,145560.0
1185,IDAHO,2015,2029520,1130814,663005,108684.0
1186,ILLINOIS,2015,32410033,17313173,10279691,992075.0
1187,INDIANA,2015,11378564,5537406,3712136,547516.0
1188,IOWA,2015,6772654,3383909,1912222,262267.0
1189,KANSAS,2015,6175724,3051755,1692953,250584.0
1190,KENTUCKY,2015,7554887,3807748,2417226,468694.0
1191,LOUISIANA,2015,8437263,4100906,2774314,416066.0
1192,MAINE,2015,2596180,1406898,910381,109541.0
1193,MARYLAND,2015,13882823,7686024,4358416,386104.0
1194,MASSACHUSETTS,2015,16972319,9774884,5043032,497880.0
1195,MICHIGAN,2015,17742903,9040821,5839572,831874.0
1196,MINNESOTA,2015,11969872,6257807,2933999,893322.0
1197,MISSISSIPPI,2015,4624539,2350872,1525340,285117.0
1198,MISSOURI,2015,10540353,5387766,3266781,615166.0
1199,MONTANA,2015,1804841,940488,581694,80426.0
1200,NEBRASKA,2015,4283846,2446701,1102622,183067.0
1201,NEVADA,2015,4183085,2170424,1459504,174388.0
1202,NEW_HAMPSHIRE,2015,3044720,1697165,938368,75581.0
1203,NEW_JERSEY,2015,28809725,15339450,9414336,1271558.0
1204,NEW_MEXICO,2015,3846641,1773801,1256303,154435.0
1205,NEW_YORK,2015,65094591,41954260,15714795,1540851.0
1206,NORTH_CAROLINA,2015,14060699,7960222,4082387,746694.0
1207,NORTH_DAKOTA,2015,1804762,825445,483984,110836.0
1208,OHIO,2015,22561728,11620080,7324444,922732.0
1209,OKLAHOMA,2015,6184819,3000894,2041507,414086.0
1210,OREGON,2015,7011609,3650855,2272382,249968.0
1211,PENNSYLVANIA,2015,29690645,16058338,8196747,1050310.0
1212,RHODE_ISLAND,2015,2326473,1322055,792525,90209.0
1213,SOUTH_CAROLINA,2015,8783362,4123140,2893109,447019.0
1214,SOUTH_DAKOTA,2015,1464781,709363,426257,70128.0
1215,TENNESSEE,2015,9562527,5343272,2862499,560697.0
1216,TEXAS,2015,56255791,26745844,15145619,2783770.0
1217,UTAH,2015,4537962,2367650,1166728,271400.0
1218,VERMONT,2015,1969415,983532,566649,61871.0
1219,VIRGINIA,2015,16113212,8755896,5075509,627473.0
1220,WASHINGTON,2015,13630138,6508964,4510672,546926.0
1221,WEST_VIRGINIA,2015,3466981,1819903,1161944,233836.0
1222,WISCONSIN,2015,11553677,5723474,3691809,513402.0
1223,WYOMING,2015,1942406,895910,565489,52520.0
1224,ALABAMA,2016,7708845,3865453,2439634,602452.0
1225,ALASKA,2016,2623014,1251738,983877,91536.0