In [1]:
#import modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
#read csv files

#financial data
financialsCSV = "Brett_Resources/finance_states.csv" 
finance_data = pd.read_csv(financialsCSV) 

#SAT scores 
SAT_CSV = "Brett_Resources/SAT_scores.csv" 
SAT_data = pd.read_csv(SAT_CSV) 

#grad rates 
grad_ratescsv = "Brett_Resources/grad_rates.csv" 
grad_rates = pd.read_csv(grad_ratescsv)

#crime rates
file='Resources - Christin/estimated_crimes_1979_2018.csv'
crime_rates = pd.read_csv(file)

In [5]:
#cleaning the financial data 
finance_data.iloc[1175:1226,[1,2,8,9,10,11]]

,STATE,YEAR,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE
1175,ARIZONA,2015,7902600,3846357,2880184,478876.0
1176,ARKANSAS,2015,5350543,2620399,1772639,290396.0
1177,CALIFORNIA,2015,78365958,38951948,23501848,3754315.0
1178,COLORADO,2015,9557682,4578938,3170482,397263.0
1179,CONNECTICUT,2015,10542667,6006275,3233901,362941.0
1180,DELAWARE,2015,1975093,1072395,583951,122741.0
1181,DISTRICT_OF_COLUMBIA,2015,1360942,557345,379854,41841.0
1182,FLORIDA,2015,27277049,14931173,8186082,1816178.0
1183,GEORGIA,2015,18501103,10081483,5324072,996277.0
1184,HAWAII,2015,2521004,1377713,835930,145560.0
1185,IDAHO,2015,2029520,1130814,663005,108684.0
1186,ILLINOIS,2015,32410033,17313173,10279691,992075.0
1187,INDIANA,2015,11378564,5537406,3712136,547516.0
1188,IOWA,2015,6772654,3383909,1912222,262267.0
1189,KANSAS,2015,6175724,3051755,1692953,250584.0
1190,KENTUCKY,2015,7554887,3807748,2417226,468694.0
1191,LOUISIANA,2015,8437263,4100906,2774314,416066.0
1192,MAINE,2015,2596180,1406898,910381,109541.0
1193,MARYLAND,2015,13882823,7686024,4358416,386104.0
1194,MASSACHUSETTS,2015,16972319,9774884,5043032,497880.0
1195,MICHIGAN,2015,17742903,9040821,5839572,831874.0
1196,MINNESOTA,2015,11969872,6257807,2933999,893322.0
1197,MISSISSIPPI,2015,4624539,2350872,1525340,285117.0
1198,MISSOURI,2015,10540353,5387766,3266781,615166.0
1199,MONTANA,2015,1804841,940488,581694,80426.0
1200,NEBRASKA,2015,4283846,2446701,1102622,183067.0
1201,NEVADA,2015,4183085,2170424,1459504,174388.0
1202,NEW_HAMPSHIRE,2015,3044720,1697165,938368,75581.0
1203,NEW_JERSEY,2015,28809725,15339450,9414336,1271558.0
1204,NEW_MEXICO,2015,3846641,1773801,1256303,154435.0
1205,NEW_YORK,2015,65094591,41954260,15714795,1540851.0
1206,NORTH_CAROLINA,2015,14060699,7960222,4082387,746694.0
1207,NORTH_DAKOTA,2015,1804762,825445,483984,110836.0
1208,OHIO,2015,22561728,11620080,7324444,922732.0
1209,OKLAHOMA,2015,6184819,3000894,2041507,414086.0
1210,OREGON,2015,7011609,3650855,2272382,249968.0
1211,PENNSYLVANIA,2015,29690645,16058338,8196747,1050310.0
1212,RHODE_ISLAND,2015,2326473,1322055,792525,90209.0
1213,SOUTH_CAROLINA,2015,8783362,4123140,2893109,447019.0
1214,SOUTH_DAKOTA,2015,1464781,709363,426257,70128.0
1215,TENNESSEE,2015,9562527,5343272,2862499,560697.0
1216,TEXAS,2015,56255791,26745844,15145619,2783770.0
1217,UTAH,2015,4537962,2367650,1166728,271400.0
1218,VERMONT,2015,1969415,983532,566649,61871.0
1219,VIRGINIA,2015,16113212,8755896,5075509,627473.0
1220,WASHINGTON,2015,13630138,6508964,4510672,546926.0
1221,WEST_VIRGINIA,2015,3466981,1819903,1161944,233836.0
1222,WISCONSIN,2015,11553677,5723474,3691809,513402.0
1223,WYOMING,2015,1942406,895910,565489,52520.0
1224,ALABAMA,2016,7708845,3865453,2439634,602452.0
1225,ALASKA,2016,2623014,1251738,983877,91536.0

In [6]:
#the SAT scores came already properly formatted 
SAT_data

                   State Participation Rate  EBRW  Math  Total
0                Alabama                 7%   583   560   1143
1                 Alaska                41%   556   541   1097
2                Arizona                31%   569   565   1134
3               Arkansas                 6%   582   559   1141
4             California                63%   534   531   1065
5               Colorado               100%   518   506   1024
6            Connecticut               100%   529   516   1046
7               Delaware               100%   499   486    985
8   District of Columbia                94%   495   480    975
9                Florida               100%   516   483    999
10               Georgia                71%   538   519   1058
11                Hawaii                54%   550   550   1100
12                 Idaho               100%   505   488    993
13              Illinois               100%   509   504   1013
14               Indiana                66%   543   537   1080
15                  Iowa                 3%   622   622   1244
16                Kansas                 4%   618   623   1241
17              Kentucky                 4%   620   612   1232
18             Louisiana                 5%   610   591   1200
19                 Maine                99%   512   502   1013
20              Maryland                82%   535   523   1058
21         Massachusetts                81%   559   561   1120
22              Michigan               100%   507   496   1003
23             Minnesota                 4%   636   648   1284
24           Mississippi                 3%   628   608   1237
25              Missouri                 4%   622   615   1236
26               Montana                 9%   603   596   1199
27              Nebraska                 3%   628   631   1260
28                Nevada                20%   580   576   1156
29         New Hampshire                95%   533   526   1059
30            New Jersey                82%   544   545   1090
31            New Mexico                18%   543   530   1073
32              New York                79%   531   533   1064
33        North Carolina                51%   554   546   1100
34          North Dakota                 2%   627   636   1263
35                  Ohio                19%   550   548   1097
36              Oklahoma                22%   490   472    963
37                Oregon                51%   562   550   1112
38          Pennsylvania                70%   545   537   1082
39           Puerto Rico                  —   483   462    944
40          Rhode Island               100%   503   492    995
41        South Carolina                68%   526   504   1030
42          South Dakota                 3%   633   635   1268
43             Tennessee                 7%   618   602   1220
44                 Texas                68%   515   507   1022
45                  Utah                 4%   614   615   1230
46               Vermont                66%   560   546   1106
47        Virgin Islands                  —   490   445    935
48              Virginia                68%   567   551   1119
49            Washington                70%   539   535   1074
50         West Virginia                99%   483   460    943
51             Wisconsin                 3%   635   648   1283
52               Wyoming                 3%   623   615   1238

In [10]:
#cleaning the graduation rate data
overall_rates = pd.DataFrame({"States" : grad_rates["STNAM"],
                              "County" : grad_rates["LEANM"], 
                              "School Name" : grad_rates["SCHNAM"], 
                              "Graduation Rate" : grad_rates["ALL_RATE"]})

state_grouped = overall_rates.groupby("States").mean()["Graduation Rate"] 
state_grouped

States
ALABAMA                     82.491036
ALASKA                      61.446009
ARIZONA                     66.039331
ARKANSAS                    83.026671
BUREAU OF INDIAN AFFAIRS    57.895833
CALIFORNIA                  81.746088
COLORADO                    69.185665
CONNECTICUT                 86.286093
DELAWARE                    80.855615
DISTRICT OF COLUMBIA        65.822485
FLORIDA                     72.243028
GEORGIA                     72.986905
HAWAII                      76.124561
IDAHO                       70.812339
ILLINOIS                    82.738425
INDIANA                     85.277313
IOWA                        85.564489
KANSAS                      80.169575
KENTUCKY                    84.804375
LOUISIANA                   76.195880
MAINE                       82.522727
MARYLAND                    81.440359
MASSACHUSETTS               82.380282
MICHIGAN                    75.370014
MINNESOTA                   72.028577
MISSISSIPPI                 76.837925
MISSOURI                    82.057826
MONTANA                     72.196053
NEBRASKA                    77.683120
NEVADA                      67.826758
NEW HAMPSHIRE               84.743619
NEW JERSEY                  86.756404
NEW MEXICO                  64.559732
NEW YORK                    77.612140
NORTH CAROLINA              82.729237
NORTH DAKOTA                70.513981
OHIO                        81.150262
OKLAHOMA                    78.594444
OREGON                      67.009358
PENNSYLVANIA                86.160000
RHODE ISLAND                80.407063
SOUTH CAROLINA              77.749307
SOUTH DAKOTA                74.148855
TENNESSEE                   85.831395
TEXAS                       81.887577
UTAH                        76.798377
VERMONT                     83.309211
VIRGINIA                    83.186134
WASHINGTON                  69.598894
WEST VIRGINIA               82.205934
WISCONSIN                   82.929079
WYOMING                     71.799745
Name: Graduation Rate, dtype: float64

In [12]:
#cleaning the crime rate data
year_2015 = crime_rates['year']==2015
data_2015 = crime_rates[year_2015]   
data_2015 

clean_data = data_2015.drop(columns=["rape_legacy","caveats"]) 
clean_data["state_abbr"].replace('NaN','USA')
clean_data

,year,state_abbr,population,violent_crime,homicide,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
36,2015,NaN,320896618,1199310,15883,126134.0,328109,764057,8024115,1587564,5723488,713063
74,2015,AK,737709,5391,59,900.0,761,3671,20806,3511,15249,2046
114,2015,AL,4853875,22957,348,2037.0,4612,15960,144785,35265,99182,10338
154,2015,AR,2977853,15769,189,2008.0,2117,11455,97391,22851,68720,5820
194,2015,AZ,6817565,27968,306,3109.0,6360,18193,207184,38010,152388,16786
234,2015,CA,38993940,166883,1861,12811.0,52862,99349,1024914,197404,656517,170993
274,2015,CO,5448819,17348,173,3328.0,3315,10532,144044,23490,104532,16022
314,2015,CT,3584730,7938,116,798.0,2925,4099,65610,10286,48898,6426
354,2015,DC,670377,8538,162,494.0,3746,4136,31444,2971,25208,3265
394,2015,DE,944076,4760,62,361.0,1240,3097,25545,4797,19555,1193
434,2015,FL,20244914,93625,1041,7552.0,21137,63895,570270,109268,420341,40661
474,2015,GA,10199398,38891,622,3257.0,12545,22467,316013,68149,220715,27149
514,2015,HI,1431603,4201,19,561.0,1203,2418,54346,6557,42010,5779
554,2015,IA,3121997,8619,73,1205.0,1050,6291,64688,14977,45328,4383
594,2015,ID,1652828,3593,32,703.0,191,2667,28912,6124,20916,1872
634,2015,IL,12839047,49755,754,4926.0,15056,29019,256962,46846,192424,17692
674,2015,IN,6612768,25373,370,2386.0,7081,15536,171878,34404,123940,13534
714,2015,KS,2906721,11483,126,1684.0,1823,7850,80059,15619,57435,7005
754,2015,KY,4424611,9887,219,1644.0,3314,4710,97545,22526,67143,7876
794,2015,LA,4668960,25202,492,1733.0,5561,17416,157708,35457,112520,9731
834,2015,MA,6784240,26453,131,2082.0,5266,18974,114547,21826,84676,8045
874,2015,MD,5994983,28185,538,1717.0,10111,15819,142547,26432,102701,13414
914,2015,ME,1329453,1726,23,461.0,311,931,24361,4694,18853,814
954,2015,MI,9917715,41712,585,6710.0,7818,26599,191191,40375,132019,18797
994,2015,MN,5482435,13319,133,2321.0,3771,7094,121984,19299,94704,7981
1034,2015,MO,6076204,30292,503,2573.0,6383,20833,173788,34029,122749,17010
1058,2015,MS,2989390,8190,253,1158.0,2312,4467,85785,25068,56446,4271
1098,2015,MT,1032073,3647,38,572.0,210,2827,27276,3887,20966,2423
1138,2015,NC,10035186,34734,517,2591.0,8821,22805,275915,74760,187732,13423
1178,2015,ND,756835,1949,21,391.0,159,1378,17716,3296,12686,1734
1218,2015,NE,1893765,5167,62,885.0,994,3226,42597,6443,32148,4006
1258,2015,NH,1330111,2692,15,644.0,475,1558,23453,3482,19076,895
1298,2015,NJ,8935421,22879,363,1373.0,9729,11414,145701,27960,105963,11778
1338,2015,NM,2080328,13672,117,1663.0,2485,9407,77212,17084,51485,8643
1378,2015,NV,2883758,20118,178,1688.0,6287,11965,77137,22360,43426,11351
1418,2015,NY,19747183,75126,613,6141.0,23879,44493,317225,44117,257837,15271
1458,2015,OH,11605090,34373,522,5441.0,12617,15793,303743,69994,216354,17395
1498,2015,OK,3907414,16746,240,1953.0,3018,11535,114055,28783,74678,10594
1538,2015,OR,4024634,10680,110,1650.0,2163,6757,119752,18541,90514,10697
1578,2015,PA,12791904,40348,665,4299.0,12965,22419,231941,39573,180236,12132
1618,2015,RI,1055607,2565,31,467.0,547,1520,20038,3938,14714,1386
1658,2015,SC,4894834,24448,407,2439.0,3950,17652,162830,34942,114778,13110
1698,2015,SD,857919,3302,33,500.0,215,2554,16739,2969,12576,1194
1738,2015,TN,6595056,40816,418,2801.0,7499,30098,196047,43753,139259,13035
1778,2015,TX,27429639,113193,1317,12323.0,31924,67629,779234,153067,558653,67514
1818,2015,UT,2990632,7138,57,1704.0,1329,4048,89797,12606,68464,8727
1858,2015,VA,8367587,16705,390,2499.0,4459,9357,157803,21542,128064,8197
1898,2015,VT,626088,747,10,150.0,105,482,9064,2034,6834,196
1938,2015,WA,7160290,20505,218,2778.0,5450,12059,249474,51114,171393,26967
1978,2015,WI,5767891,17549,240,1805.0,5234,10270,114171,19602,83572,10997
2018,2015,WV,1841053,6397,85,710.0,783,4819,38694,9467,26984,2243
2058,2015,WY,586555,1300,16,171.0,59,1054,11151,1762,8797,592